<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Sage Taiga</title>
  <meta name="description" content="A website for whatever">
  <meta name="author" content="OCAkarin">
</head>
<body>

<a href="/">ROOT</a>
$ERROR
<a href="$returnLink">$returnName</a>

</body>