<!doctype html>
<html lang="en">
	<head>
	
		<meta charset="utf-8">
		<title>Sage Taiga</title>
		<meta name="description" content="A website for whatever">
		<meta name="author" content="OCAkarin">
		
	</head>
	<body>
	
		<a href="$ROOT_LINK">$ROOT_NAME</a>
		<a href="$TEXTBOARD_LINK">$TEXTBOARD_NAME</a>
		<a href="$IMAGEPROCESSING_LINK">$IMAGEPROCESSING_NAME</a>
		<p>$ERROR</p>
		<p>RETURN LINK: <a href="$RETURN_LINK">$RETURN_NAME</a> </p>
		
	</body>
</html>