<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<title>Safe Taiga</title>
	<meta name="description" content="A website for whatever">
	<meta name="author" content="OCAkarin">
</head>

<body>
	<a href="/">ROOT</a>
	<p>$where : $message</p>
	
	<h1>You uploaded this image:<h1><img src='$imagename'>
	<h1>You uploaded this image:<h1><img src='/images/input/upload/2333554662165376197.png'>
</body>