<!doctype html>
<html lang="en">	
	<head>
	
		<meta charset="utf-8">
		<title>Safe Taiga</title>
		<meta name="description" content="A website for whatever">
		<meta name="author" content="OCAkarin">
		
	</head>
	
	<body>
	
		<a href="$ROOT_LINK">$ROOT_NAME</a>
		<a href="$TEXTBOARD_LINK">$TEXTBOARD_NAME</a>
		<a href="$IMAGEPROCESSING_LINK">$IMAGEPROCESSING_NAME</a>
		
		<p>$WHERE_NAME : $WHERE_TEXT</p>
		
		<div>
			<form method='post' enctype='multipart/form-data'>
				<input type='file' name='uploaded_file' accept='.png'>
				<button>Upload picture</button>
			</form>
		</div>
		<div>
		<h1>$imagemessage</h1>
		<br>
		<img src='$imagefile'>
		</div>
		<div>
		#foreach( $y in $partitionArrayRGB )
			<p><small>#foreach( $x in $y){#foreach( $z in $x)[$z]#end}#end</small></p>
		#end
		</div>
		
		<h1>TEST 1</h1>
		#if($test_1_boolean)
			#foreach ($panelData in $test_1_result)
				<p>Name: $panelData.getName() Episode: $panelData.getEpisode()</p>
			#end
		#else
			<p>None found</p>
		#end
		
		<h1>TEST 2</h1>
		#if($test_2_boolean)
			#foreach ($panelData in $test_2_result)
				<p>Name: $panelData.getName() Episode: $panelData.getEpisode()</p>
			#end
		#else
			<p>None found</p>
		#end
		
		<h1>TEST 3</h1>
		#if($test_3_boolean)
			<p>Name: $test_3_result.getName() Episode: $test_3_result.getEpisode()</p>
		#else
			<p>None found</p>
		#end
		
		<h1>TEST 4</h1>
		#if($test_4_boolean)
			<p>Name: $test_4_result.getName() Episode: $test_4_result.getEpisode()</p>
		#else
			<p>None found</p>
		#end
		
	</body>
</html>