<!doctype html>
<html lang="en">
	<head>
	
		<meta charset="utf-8">
		<title>Safe Taiga</title>
		<meta name="description" content="A website for whatever">
		<meta name="author" content="OCAkarin">
		
	</head>
	
	<body>
	
		<a href="$ROOT_LINK">$ROOT_NAME</a>
		<a href="$TEXTBOARD_LINK">$TEXTBOARD_NAME</a>
	
		<p>$WHERE_NAME : $WHERE_TEXT</p>
		
		<div>
			#foreach( $thread in $threadList )
					<br>
					<p><a href="$boardlink/$thread.threadid">$thread.threadid</a> : $thread.threadtext</p>
			#end
		</div>
		
		<div align="center">
			<form  method="post">
				Thread text:
				<br>
				<input type="text" name="$INPUT_THREADTEXT"><br>
				<br>
				<button type="submit">CREATE THREAD</button>
			</form>
		</div>
		
	</body>
</html>