<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Sage Taiga</title>
  <meta name="description" content="A website for whatever">
  <meta name="author" content="OCAkarin">
</head>
<body>

<a href="/">ROOT</a>

$where
$message

<ul>
#foreach( $board in $boardList )
    <li><a href="$board.boardlink">$board.boardname</a> : $board.boarddescription</li>
  #end
 </ul>

 <div align="center">
 	<form  method="post">
		Board link:<br>
		<input type="text" name="$INPUT_BOARDLINK"><br>
		Board name:<br>
		<input type="text" name="$INPUT_BOARDNAME"><br>
		Description:<br>
		<input type="text" name="$INPUT_BOARDDESCRIPTION"><br><br>
		<button type="submit">CREATE BOARD</button>
	</form>
</div>
</body>
