<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Sage Taiga</title>
  <meta name="description" content="A website for whatever">
  <meta name="author" content="OCAkarin">
</head>
<body>
<a href="/textboard/$boardlink">$boardlink</a>

$where
$message

<ul>
	<li>$threadid : $threadtext</li>
#foreach( $post in $postList )
    <li><p>$post.postid : $post.posttext</p></li>
  #end
 </ul>

 <div align="center">
 	<form  method="post">
		Post text:
		<br>
		<input type="text" name="$INPUT_POSTTEXT"><br>
		<br>
		<button type="submit">REPLY</button>
	</form>
</div>

</body>